<!DOCTYPE html>
<html>
  <head>
    <title>StrifeChat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Girassol&display=swap" rel="stylesheet">

    <%= "<!-- Hey there! I got my beautiful logo from the lovely team over at FontAwesome! You can check out the icon at https://fontawesome.com/icons/angry?style=regular and then browse around their site for the rest of your night thinking of all the great possibilities! -->".html_safe %>
    <script>
      window.logoImageUrl = "<%= image_url('logo_white.png')%>"
    </script>

    


  </head>

  <body>
    <%= yield %>
  </body>
</html>
