<!DOCTYPE html>
<html>
  <head>
    <title>StrifeChat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Girassol&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <!-- Hey there! I got my beautiful logo from the lovely team over at FontAwesome! You can check out the icon at https://fontawesome.com/icons/angry?style=regular and then browse around their site for the rest of your night thinking of all the great possibilities! -->


    <!-- Image loading goes on here. -->
    <script>
      window.logoImageUrl = "<%= image_url('logo_white.png') %>"
      window.twitterIcon = "<%= image_url('icon_twitter.svg') %>"
      window.facebookIcon = "<%= image_url('icon_facebook.svg') %>"
      window.instagramIcon = "<%= image_url('icon_instagram.svg') %>"

      window.splashBlock = "<%= image_url('block.svg') %>"
      window.splashBomb = "<%= image_url('bomb.svg') %>"
      window.splashButton = "<%= image_url('button.svg') %>"
      window.splashCartridge = "<%= image_url('cartridge.svg') %>"
      window.splashCircle = "<%= image_url('circle.svg') %>"
      window.splashCoin = "<%= image_url('coin.svg') %>"
      window.splashController = "<%= image_url('controller.svg') %>"
      window.splashDesktop = "<%= image_url('desktop.svg') %>"
      window.splashDisc = "<%= image_url('disc.svg') %>"
      window.splashDot = "<%= image_url('dot.svg') %>"
      window.splashFlower = "<%= image_url('flower.svg') %>"
      window.splashHeadphones = "<%= image_url('headphones.svg') %>"
      window.splashLaptop = "<%= image_url('laptop.svg') %>"
      window.splashMushroom = "<%= image_url('mushroom.svg') %>"
      window.splashPhone = "<%= image_url('phone.svg') %>"
      window.splashPotion = "<%= image_url('potion.svg') %>"
      window.splashSmartphone = "<%= image_url('smartphone.svg') %>"
      window.splashSquare = "<%= image_url('square.svg') %>"
      window.splashStar = "<%= image_url('star.svg') %>"
      window.splashTriangle = "<%= image_url('triangle.svg') %>"
      window.splashX = "<%= image_url('x.svg') %>"

      window.arrowOne = "<%= image_url('arrow_one.svg') %>"
      window.arrowTwo = "<%= image_url('arrow_two.svg') %>"
      window.arrowThree = "<%= image_url('arrow_three.svg') %>"

      window.wumpus = "<%= image_url('wumpus.svg') %>"
      window.lost = "<%= image_url('lost.svg') %>"

      window.github = "<%= image_url('github.png') %>"

      window.puppy = "<%= image_url('puppy.jpg') %>"

      window.chinaFlag = "<%= image_url('china.png') %>"
      window.germanyFlag = "<%= image_url('germany.png') %>"

      window.castle = "<%= image_url('castle.png') %>"
      window.beach = "<%= image_url('beach.png') %>"

      window.plus = "<%= image_url('plus.svg') %>"

      window.join = "<%= image_url('door.svg') %>"
      window.create = "<%= image_url('play.svg') %>"
    </script>

    


  </head>

  <body>
    <%= yield %>
  </body>
</html>
